body{
    text-align: center;
}
header {
    background-color: aqua;
    color: black;
}
.suhu {
    font-family: math;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}

#suhu-celsius {
    width: 300px;
    height: 30px;
    text-align: center;
}

#suhu-farenheit {
    width: 300px;
    height: 30px;
    text-align: center;
}
